html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    width: 1200px;
    margin: 0px auto;
}

header {
    background: #385898;
}
header h1 {
    color: white;
    text-align: center;
    margin-top: 0px;
}


#logo img {
    display: block;
    margin: 0px auto;
    width: 70%;
}

main h2 {
    text-align: center;
    color: #385898;
    font-size: 40px;
    margin-bottom: 0px;
}

main p {
    background: #385898;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
}

/* FORMULAR */
form {
    text-align: center;
}
form input {
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    text-align: center;
}

input[type=submit] {
    background: #385898;
    color: white;
    font-size: 20px;
}

input[type=submit]:hover {
    background: whitesmoke;
    color: #385898;
    font-size: 20px;
    font-weight: bold;
}

/* FOOTER */
footer p {
    background: #355898;
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    padding-left: 15px;
}